# IDE / tools
.qodo
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Testing / Coverage
.coverage
htmlcov/
.pytest_cache/

# Downloads
test_downloads/

# Virtual environments
venv/
.venv/
env/

# PyInstaller
*.spec
installer/

# Frontend
node_modules/
.DS_Store